# Environments
.venv/
env/
__pycache__/
*.pyc

# Data and Outputs (Strictly ignored for reproducibility without data bloat)
data/raw/*
data/processed/*
outputs/figures/*
outputs/animations/*

# Exceptions (Keep folder structures)
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/animations/.gitkeep

# IDEs
.vscode/
.idea/